/*------------------------------------
  Slick
------------------------------------*/

.u-slick {
	position: relative;

	&__tab {
		.tab-pane:not(.active) {
			display: block !important;
			height: 0 !important;
			overflow: hidden;
			padding: 0 !important;
		}

		.tab-pane.active {
			height: auto !important;
		}
	}
}

// Disable transform effect
.u-slick--transform-off {
	&.slick-transform-off .slick-track {
		transform: none !important;
	}
}

// Thumb Progress
.u-slick-thumb-progress {
  width: 110%;
  height: 110%;
  @include content-centered;
}
