<div class="participant-home-container">
    <div class="participant-home-content">
        <div class="div-group">
            <label>Quiz Number</label>
            <input [(ngModel)]="model().roomNumber" type="text">
        </div>
        <div class="div-group">
            <label>UserName</label>
            <input [(ngModel)]="model().userName" type="text" maxlength="20">
        </div>
        <div class="div-group">
            <label>Email</label>
            <input [(ngModel)]="model().email" type="email">
        </div>
        <div class="div-group">
            <button class="w-100" (click)="join()">Join</button>
        </div>
    </div>
</div>