.body{
    padding: 20px 250px !important;
}

.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
    height: 80px;
    background-color: lightgray;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .row:nth-child(even) {
    background-color: darkgray;
  }

  .selected {
    transform: scale(1);
    background-color: yellow;
  }