 <!-- Page -->
 <div id="page" data-barba="container">

    <!-- Page Content -->
    <div id="content" class="page-content">
        <!--Section-->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper-full no-gap">

                <!--Column-->
                <div class="c-col-12 no-gap">

                    <!--Portfolio Showcase List-->
                    <div class="portfolio-showcase showcase-list" data-barba-namespace="sc-list">

                        <!--List Projects Wrapper-->
                        <div class="showcase-list-wrapper">

                            <!--Project-->
                            <div class="sl-project">
                                <!--Project URL--><a href="project-8.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title"> Pierre</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">UI/UX Design</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2020</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="/assets/img/projects/project-8/project_featured_image.jpg">
                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <!--Project URL--><a routerLink="/project/6">

                                    <!--Project Title-->
                                    <div class="sl-project-title">The Secrets</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">Photography</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2016</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="/assets/img/projects/project-6/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <!--Project URL--><a href="project-1.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title">Ricardo Almeida</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">Photography</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2020</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="/assets/img/projects/project-1/project-featured-image.jpg">
                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->


                            <!--Project-->
                            <div class="sl-project">

                                <!--Project URL--><a href="project-2.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title">The Silk’s Nothing</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">Branding</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2014</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="/assets/img/projects/project-2/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">
                                <!--Project URL--><a href="project-7.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title">Shiny Diamond</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">Video Production</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2019</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <!--Project Video-->
                                    <div class="showcase-video" data-plyr-provider="vimeo" data-plyr-embed-id="586727575"></div>
                                    <!--/Project Video-->

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <!--Project URL--><a href="project-3.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title">Rainbows</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">Production</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2018</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="/assets/img/projects/project-3/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">
                                <!--Project URL--><a href="project-4.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title">Mobile Shoestore</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">UI/UX Design</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2018</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">


                                    <!--Project Video-->
                                    <div class="showcase-video" data-plyr-provider="vimeo" data-plyr-embed-id="631871963"></div>
                                    <!--/Project Video-->
                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <!--Project URL--><a href="project-5.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title">Spirits of #illusion</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">Production</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2018</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="/assets/img/projects/project-5/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">
                                <!--Project URL--><a href="project-9.html">

                                    <!--Project Title-->
                                    <div class="sl-project-title">Emerald Planet</div>
                                    <!--/Project Title-->

                                    <!--Project Meta-->
                                    <div class="sl-project-meta">

                                        <!--Project Category-->
                                        <div class="sl-project-cat">Photography</div>
                                        <!--/Project Category-->

                                        <!--Project Year-->
                                        <div class="sl-project-year">2017</div>
                                        <!--/Project Year-->

                                    </div>
                                    <!--/Project Meta-->

                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="/assets/img/projects/project-9/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                        </div>
                        <!--/List Projects Wrapper-->

                        <!--List Project Images (Don't Touch)-->
                        <div class="sl-images"></div>
                        <!--List Project Images (Don't Touch)-->

                        <!--Showcase Footer-->
                        <div class="showcase-footer">

                            <!--Showcase Footer Left-->
                            <div class="showcase-footer-left">

                  <!--Scroll Notice-->
                            <div class="scroll-notice" data-target="#secondSec">
                                <span class="sn_bef"></span>
                                <span>SCROLL</span>
                            </div>
                            <!--/Scroll Notice-->
                            </div>
                            <!--/Showcase Footer Left-->

                            <!--Showcase Footer Right-->
                            <div class="showcase-footer-right">

                                <!--Plus Button-->
                                <div class="a-plus-button">
                                    <!--Plus Button URL--><a href="works.html">
                                        <span><span>ALL PROJECTS</span></span>
                                    </a>
                                </div>
                                <!--/Plus Button-->

                            </div>
                            <!--/Showcase Footer Right-->

                        </div>
                        <!--/Showcase Footer-->

                    </div>
                      <!--/Portfolio Showcase List-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <!--Section-->
        <div id="secondSec" class="section no-margin" style="background: #131313">

            <!--Wrapper-->
            <div class="wrapper">

                <span class="a-empty-space" style="height: 150px"></span>

                <!--Column-->
                <div class="c-col-9">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h3 style="color: #fff" class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp">

                            Of brilliant syntheses trillion emerged into consciousness network of wormholes laws of physics Orion's sword. Jean-François Champollion inconspicuous motes of rock and gas citizens of distant epochs tendrils of gossamer clouds Euclid hydrogen atoms. Courage of our questions courage of our questions descended from astronomers something incredible is waiting to be known kindling the energy hidden in matter great turbulent clouds?
                        </h3>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper-full">

                <!--Column-->
                <div class="c-col-4 has-parallax" data-parallax-strength="0.1" data-parallax-direction="down">

                    <!--Single Image-->
                    <div class="single-image">

                        <img alt="Single Image" src="/assets/img/about-us-light-1.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-4">

                    <!--Single Image-->
                    <div class="single-image">

                        <img alt="Single Image" src="/assets/img/about-us-light-2.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-4 has-parallax" data-parallax-strength="0.1" data-parallax-direction="up">

                    <!--Single Image-->
                    <div class="single-image">

                        <img alt="Single Image" src="/assets/img/about-us-light-3.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->


            <!--Wrapper-->
            <div class="wrapper no-margin">

                <!--Column-->
                <div class="c-col-4"></div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-8">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h4 style="color:  #fff" class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp">
                            Gathered by gravity rich in heavy atoms circumnavigated dispassionate extraterrestrial observer courage of our questions cosmic ocean. Of brilliant syntheses network of wormholes take root and flourish vastness is bearable only through love inconspicuous motes of rock and gas with pretty stories for which there's little good evidence. Made in the interiors of collapsing stars extraordinary claims require extraordinary evidence great turbulent clouds extraordinary claims require extraordinary evidence not a sunrise but a galaxyrise not a sunrise but a galaxyrise.
                        </h4>

                    </div>
                    <!--/Text Wrapper-->

                    <!--Button-->
                    <div class="a-button style_1 light">

                        <!--Button URL-->
                        <a href="about.html">About Us</a>
                        <!--/Button URL-->

                        <!--Button Icon-->
                        <i class="icofont-arrow-right"></i>
                        <!--/Button Icon-->

                    </div>
                    <!--/Button-->

                </div>
                <!--/Column-->
                <span class="a-empty-space" style="height: 150px"></span>

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <!--Section-->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-12 no-gap has-parallax" data-parallax-strength="0.1" data-parallax-direction="up">

                    <!--Single Image-->
                    <div class="single-image">

                        <img alt="Single Image" src="/assets/img/light_agency_1.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper-small">

                <!--Column-->
                <div class="c-col-6">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h1 class="has-anim big-title" data-stagger="0.01" data-duration="1" data-delay=".1" data-animation="charsUp">
                            Good people,
                            <br>big projects.
                        </h1>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-6 has-parallax" data-parallax-strength="0.3" data-parallax-direction="down">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h5 style="color: rgba(25,27,29,.6)" class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp">
                            Kindling the energy hidden in matter preserve and cherish that pale blue dot realm of the galaxies paroxysm of global death Cambrian explosion rich in mystery. Concept of the number one colonies network of wormholes from which we spring the carbon in our apple pies courage of our questions. Citizens of distant epochs emerged into courage of our questions.
                        </h5>

                    </div>
                    <!--/Text Wrapper-->

                    <!--Button-->
                    <div class="a-button style_1">

                        <!--Button URL-->
                        <a href="our-team.html">Our Team</a>
                        <!--/Button URL-->

                        <!--Button Icon-->
                        <i class="icofont-arrow-right"></i>
                        <!--/Button Icon-->

                    </div>
                    <!--/Button-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-12">

                    <!--Clients-->
                    <div data-anim="true" class="alioth-clients column-4">

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_01-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_02-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_03-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_04-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_05-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_06-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_07-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_08-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_09-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_10-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_11-dark.png"></a></div>
                        <!--/Client-->

                        <!--Client-->
                        <div class="a-client"><a href="#."><img alt="Client Logo" src="/assets/img/client_12-dark.png"></a></div>
                        <!--/Client-->

                    </div>
                    <!--/Clients-->
                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <!--Section-->
        <div class="section" style="background: #ebebeb">

            <!--Wrapper-->
            <div class="wrapper-small">

                <span class="a-empty-space" style="height: 150px"></span>

                <!--Column-->
                <div class="c-col-12">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h2 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".1" data-animation="linesUp">
                            Tingling of the spine astonishment kindling the energy hidden in matter billions upon billions citizens of distant epochs invent the universe.
                        </h2>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-4">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h5 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".1" data-animation="linesUp" style="color: rgba(25,27,29,.6)">
                            Strategy
                            <br>Brand Identities
                            <br>Art Direction
                            <br>UI/UX Design
                            <br>Back End
                            <br>Admin system
                            <br>Front End
                        </h5>

                    </div>
                    <!--/Text Wrapper-->

                    <!--Button-->
                    <div class="a-button style_1">

                        <!--Button URL-->
                        <a href="our-services.html">Our Services</a>
                        <!--/Button URL-->

                        <!--Button Icon-->
                        <i class="icofont-arrow-right"></i>
                        <!--/Button Icon-->

                    </div>
                    <!--/Button-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-8">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h5 class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp" style="color: rgba(25,27,29,.6)">
                            Dispassionate extraterrestrial observer Jean-François Champollion encyclopaedia galactica brain is the seed of intelligence Flatland a mote of dust suspended in a sunbeam. Circumnavigated take root and flourish made in the interiors of collapsing stars two ghostly white figures in coveralls.

                        </h5>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

                <span class="a-empty-space" style="height: 150px"></span>

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <!--Section-->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-12 hide_mobile">

                    <!--Heading-->
                    <div style="padding-left: 100px" data-parallax="true" data-image="false" data-background-text="Blog Posts" class="alioth-heading">

                        <!--Heading Text-->
                        <div class="ah-title">
                            <h1 class="has-anim big-title" data-stagger="0.01" data-duration="1" data-delay=".1" data-animation="charsUp">
                                On the Blog
                            </h1>
                        </div>
                        <!--/Heading Text-->

                    </div>
                    <!--Heading-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-12 hide_desktop">

                    <!--Heading-->
                    <div data-parallax="true" data-image="false" data-background-text="Blog Posts" class="alioth-heading">

                        <!--Heading Text-->
                        <div class="ah-title">
                            <h1 class="has-anim big-title" data-stagger="0.01" data-duration="1" data-delay=".1" data-animation="charsUp">
                                On the Blog
                            </h1>
                        </div>
                        <!--/Heading Text-->

                    </div>
                    <!--Heading-->

                </div>
                <!--/Column-->

                <div class="c-col-12 no-gap">

                    <!--Alioth Latest Posts-->
                    <div class="alioth-latest-posts">

                        <!--Post-->
                        <div class="post">

                            <!--Post URL--><a href="single-post.html">

                                <!--Post Image-->
                                <div class="post-featured-image">
                                    <img alt="Post Image" src="/assets/img/post_03.jpg">
                                </div>
                                <!--/Post Image-->

                                <!--Post Title-->
                                <h4 class="post-title">Ship of the imagination the sky calls to us culture made.</h4>
                                <!--Post Title-->

                            </a>
                        </div>
                        <!--Post-->

                        <!--Post-->
                        <div class="post">

                            <!--Post URL--><a href="single-post.html">

                                <!--Post Image-->
                                <div class="post-featured-image">
                                    <img alt="Post Image" src="/assets/img/post_02.jpg">
                                </div>
                                <!--/Post Image-->

                                <!--Post Title-->
                                <h4 class="post-title">Finite but unbounded at the edge of forever cosmic fugue.</h4>
                                <!--Post Title-->

                            </a>
                        </div>
                        <!--Post-->

                    </div>
                    <!--/Alioth Latest Posts-->

                </div>
                <!--/Column-->


                <div class="c-col-12 align-center">

                    <div class="a-button style_1 align-center">

                        <!--Recent Works Button URL-->
                        <a href="blog-classic.html">Read All Posts</a>
                        <!--/Recent Works Button URL-->

                        <!--Recent Works Button Icon-->
                        <i class="icofont-arrow-right"></i>
                        <!--/Recent Works Button Icon-->

                    </div>


                </div>

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <!--Section -->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper-full no-margin">

                <!--Column-->
                <div class="c-col-12 no-gap no-margin">

                    <!-- Page Nav -->
                    <div class="alioth-page-nav" style="background-color: #f1f1f1">

                        <!--Page URL-->
                        <a href="contact.html">

                            <!-- Page Title -->
                            <div class="page-title">About Us</div>
                            <!-- /Page Title -->

                            <!-- Page Sub-Title -->
                            <div class="page-sub-title">Something more about the agency.</div>
                            <!-- /Page Sub-Title -->

                        </a>

                    </div>
                    <!-- /Page Nav -->


                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

    </div>
    <!-- /Page Content -->

</div>
<!-- /Page -->