 <!--===== HEADER CONTENT =====-->
<app-header></app-header>

<!-- Account Sidebar Navigation - Mobile -->
<app-account-sidebar-mobile></app-account-sidebar-mobile>
<!-- End Account Sidebar Navigation - Mobile -->

<!-- Account Sidebar Navigation - Desktop -->
<app-account-sidebar-desktop></app-account-sidebar-desktop>
<!-- End Account Sidebar Navigation - Desktop -->

<!-- Cart Sidebar Navigation -->
<app-cart-sidebar></app-cart-sidebar>
<!-- End Cart Sidebar Navigation -->

<!-- Categories Sidebar Navigation -->
<app-categories-sidebar></app-categories-sidebar>
<!-- End Categories Sidebar Navigation -->

<!--===== END HEADER CONTENT =====-->

<!-- ====== MAIN CONTENT ====== -->
<router-outlet></router-outlet>
<!-- ====== END MAIN CONTENT ====== -->

<!-- ========== FOOTER ========== -->
<app-footer></app-footer>
<!-- ========== END FOOTER ========== -->