<div class="div-group">
    <!--Todo: Bunu kaldır buraya card ekle -->
    <div class="card">
        <h1>Deneme</h1>
        <h3>800385</h3>
        <button>Goto Room</button>
    </div>
    <!-- <flexi-grid
    [data]="quizzes()"
    [showCaption]="true"
    captionTitle="Quiz List"
    [showRefreshData]="false"
    themeClass="light"
    [useMinWidth]="false"  
    [captionTemplate]="captionTemplate"      
    >
    <ng-template #captionTemplate>
        <div class="form-group">
            <label>Title</label>
            <input type="text" [(ngModel)]="addModel().title">
            <button (click)="create()">Save</button>                
        </div>
    </ng-template>
    <flexi-grid-column field="id" title="Id"></flexi-grid-column>
    <flexi-grid-column field="title" title="Title"></flexi-grid-column>
    <flexi-grid-column field="roomNumber" title="Room Number"></flexi-grid-column>
    <flexi-grid-column title="Operations" [columnTemplate]="operationsColumnTemplate">            
    </flexi-grid-column>

    <ng-template #operationsColumnTemplate let-item="item">
        <button (click)="gotoRoom(item.roomNumber.value)">Go to room</button>
    </ng-template>

    </flexi-grid> -->
</div>