<body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="/assets/index2.html" class="h1"><b>Admin</b>LTE</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign in to start your session</p>
    
          <form formValidate #form="ngForm" autocomplete="off" (ngSubmit)="login(form)">
            <div class="input-group mb-3">
              <input type="text" [(ngModel)]="model.emailOrUserName" name="emailOrUserName" class="form-control" placeholder="Email or UserName" required minlength="3">
              <div class="invalid-feedback"></div>
            </div>
            <div class="input-group mb-3">
              <input type="password" [(ngModel)]="model.password" name="password" class="form-control" placeholder="Password" required>
              <div class="invalid-feedback"></div>              
            </div>
            <button type="submit" class="btn btn-primary btn-block w-100">Sign In</button>
          </form>    
         
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->   
    </body>