/*------------------------------------
  Overflow
------------------------------------*/
@include media-breakpoint-up(md) {
	.overflow-md-visible {
		overflow: visible !important;
	}
}

@include media-breakpoint-up(lg) {
	.overflow-lg-visible {
		overflow: visible !important;
	}
}

@include media-breakpoint-up(xl) {
	.overflow-xl-visible {
		overflow: visible !important;
	}
}
