<footer>
    <div class="footer_main">
        <div class="tag">
            <img src="/assets/image/logo.png">
            <p>
                {{'footerDescription' | translate}}
            </p>
        </div>
        <div class="tag">
            <h1>{{'contactInfo' | translate}}</h1>
            <a href="#"><i class="fa-solid fa-phone"></i>+94 12 345 6789</a>
            <a href="#"><i class="fa-solid fa-phone"></i>+94 32 444 699</a>
            <a href="#"><i class="fa-solid fa-envelope"></i>bookstore123gmail.com</a>   
        </div>
        <div class="tag">
            <h1>{{'followUs' | translate}}</h1>
            <div class="social_link">
                <i class="fa-brands fa-facebook-f" href="#" style="cursor: pointer;"></i>
                <i class="fa-brands fa-instagram" href="#" style="cursor: pointer"></i>
                <i class="fa-brands fa-twitter" href="#" style="cursor: pointer;"></i>
                <i class="fa-brands fa-linkedin-in" href="#" style="cursor: pointer;"></i>
            </div>  
        </div>
        <div class="tag">
            <h1>{{'newsletter' | translate}}</h1>
            <div class="search_bar">
                <input type="text" placeholder="{{'placeholder' | translate}}">
                <button type="submit">{{'subscribeBtn' | translate}}</button>
            </div>                
        </div>
    </div>
</footer>