@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: cadetblue;
    padding: 0px 10px;
}

table {
    overflow: hidden !important;
}

nav {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ccc;
    color: 000;
}

nav ul {
    list-style: none;
}

nav ul li {
    cursor: pointer;
    padding: 10px;
}

nav ul li:hover {
    background-color: #ccc;
    color: black;
}

.room-number-title {
    margin-top: 20px;
    text-align: center;
}

.participant-part {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.participant-part ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.participant-part ul li {
    border: 1px solid #0000002f;
    padding: 30px;
    border-radius: 80px;
    font-size: 27px;
    background-color: cornflowerblue;
}

button {
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

.card-edit-btn,
.card-remove-btn {
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.card-edit-btn {
    color: #2a2727bb;
    right: 30px;
}

.card-remove-btn {
    right: 10px;
    color: rgba(221, 28, 28, 0.653);
}

.card-edit-btn:hover {
    color: black
}

.card-remove-btn:hover {
    color: rgba(221, 28, 28, 1);
}

.form-group {
    margin-bottom: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    border-color: transparent;
}

.me-1 {
    margin-right: 5px;
}

.div-group {
    margin-top: 10px;
}

.text-danger {
    color: rgb(220, 53, 69);
}

.participant-home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
}

.participant-quiz-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.return-btn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    fill: 000;
    position: absolute;
    top: 20px;
    right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-color: aliceblue;
    position: relative;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal {
    top: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    scale: 1;
    opacity: 1;
    background-color: cadetblue;
    position: relative;
    width: 500px;
    padding: 25px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 25px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: show-modal-content 0.2s linear forwards;
}

@keyframes show-modal-content {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

.modal-header {
    border-bottom: 1px solid;
}

.modal-body {}

.modal-footer {
    text-align: right;
}

.modal-close-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 45px;
    cursor: pointer;
    padding: 0px 8px;
    margin-top: 2px;
    color: #2a2727bb;
}

.modal-close-btn:hover {
    color: black;
}

.grid-input {
    width: 90%;
}

.time {
    top: 15px;
    right: 80px;
}

.time,
.time2 {
    position: absolute;
    padding: 15px;
    border: 1px solid red;
    border-radius: 35px;
    background-color: red;
    color: white;
    font-size: 30px;
    width: 50px;
    text-align: center;
}

.time2 {
    right: 45%;
    bottom: 50px;
}

.question-title {
    padding: 10px;
    border: 1px solid;
    border-radius: 25px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 15px;
}

.answer-btn {
    width: 450px;
    font-size: 25px;
    text-align: left;
}

.answer-btn-group {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.select{
    background-color: yellow !important;
    color: black !important;
}