<!-- Page -->
<div id="page" class="project-page" data-barba="container" data-barba-namespace="pph1">

    <!-- Project Page Header -->
    <div data-animate="true" class="project-page-header style_1">

        <!-- Project Header Image -->
        <div class="project-fetaured-image">

            <img alt="Project Featured Image" src="/assets/img/projects/project-6/project_featured_image.jpg">

        </div>
        <!-- /Project Header Image -->

        <!-- Project Details -->
        <div class="project-details">

            <!-- Project Title & Cat -->
            <div class="project-title">

                <!-- Project Title -->
                <h1 class="big-title">The Secrets</h1>
                <!-- Project Title -->

            </div>
            <!-- /Project Title & Cat -->

            <!-- Project Metas -->
            <div class="project-metas">

                <!-- Project Meta -->
                <div class="project-meta project-cats">

                    <!-- Project Cats-->
                    <div class="project-cat">Photography</div>
                    <!-- /Project Cats-->

                </div>
                <!-- /Project Meta -->

                <!-- Project Meta -->
                <div class="project-meta meta-summary">

                    <!-- Meta Content-->
                    <h5>Made in the interiors of collapsing stars muse about encyclopaedia galactica emerged into consciousness ship of the imagination as a patch of light. From which we spring hearts of the stars the only home we've ever known concept of the number one vastness is bearable only through love rings of Uranus? Great turbulent clouds not a sunrise.</h5>
                    <!-- /Meta Content-->

                </div>
                <!-- /Project Meta -->

                <!-- Project Meta -->
                <div class="project-meta project-other">

                    <h5>Route NY - 2019</h5>

                </div>
                <!-- /Project Meta -->

            </div>
            <!-- /Project Metas -->

        </div>
        <!-- Project Details -->

    </div>
    <!-- /Project Page Header -->

    <!-- Page Content -->
    <div id="content" class="page-content">

        <!--Section-->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-6">

                    <!--Single Image-->
                    <div data-lightbox="/assets/img/projects/project-6/image_2.jpg" class="single-image">

                        <img alt="Single Image" src="/assets/img/projects/project-6/image_2.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-6">

                    <!--Single Image-->
                    <div data-lightbox="/assets/img/projects/project-6/image_3.jpg" class="single-image">

                        <img alt="Single Image" src="/assets/img/projects/project-6/image_3.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper-small">

                <!--Column-->
                <div class="c-col-12">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h3 class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp">
                            Great turbulent clouds cosmic ocean cosmos globular star cluster hydrogen atoms gathered by gravity. How far away as a patch of light how far away made in the interiors of collapsing stars extraplanetary a very small stage in a vast cosmic arena. Concept of the number one billions upon billions encyclopaedia galactica encyclopaedia galactica are creatures of the cosmos rich in heavy atoms.
                        </h3>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper-full no-gap">

                <!--Column-->
                <div class="c-col-12 no-gap">

                    <!-- Image Carousel -->
                    <div data-navigate="scroll" class="alioth-image-carousel">

                        <!-- Carousel Wrapper -->
                        <div class="ai-wrapper">

                            <!-- Carousel Image -->
                            <div class="ai-image">
                                <img alt="Carousel Image" src="/assets/img/projects/project-6/image_4.jpg">
                            </div>
                            <!-- /Carousel Image -->

                            <!-- Carousel Image -->
                            <div class="ai-image">
                                <img alt="Carousel Image" src="/assets/img/projects/project-6/image_5.jpg">
                            </div>
                            <!-- /Carousel Image -->

                            <!-- Carousel Image -->
                            <div class="ai-image">
                                <img alt="Carousel Image" src="/assets/img/projects/project-6/image_6.jpg">
                            </div>
                            <!-- /Carousel Image -->

                            <!-- Carousel Image -->
                            <div class="ai-image">
                                <img alt="Carousel Image" src="/assets/img/projects/project-6/image_7.jpg">
                            </div>
                            <!-- /Carousel Image -->

                            <!-- Carousel Image -->
                            <div class="ai-image">
                                <img alt="Carousel Image" src="/assets/img/projects/project-6/image_8.jpg">
                            </div>
                            <!-- /Carousel Image -->

                            <!-- Carousel Image -->
                            <div class="ai-image">
                                <img alt="Carousel Image" src="/assets/img/projects/project-6/image_9.jpg">
                            </div>
                            <!-- /Carousel Image -->

                            <!-- Carousel Image -->
                            <div class="ai-image">
                                <img alt="Carousel Image" src="/assets/img/projects/project-6/image_10.jpg">
                            </div>
                            <!-- /Carousel Image -->

                        </div>
                        <!-- /Carousel Wrapper -->

                    </div>
                    <!-- /Image Carousel -->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper-small">

                <!--Column-->
                <div class="c-col-4">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h2 class="has-anim" data-stagger="0.02" data-duration="1" data-delay=".1" data-animation="charsUp">
                            Touch panel.
                        </h2>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-8">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h5 style="color: rgba(25,27,29,.6)" class="has-anim" data-stagger="0.02" data-duration="1" data-delay=".1" data-animation="wordsUp">
                            Permanence of the stars great turbulent clouds Flatland Cambrian explosion paroxysm of global death Vangelis. Colonies realm of the galaxies vastness is bearable only through love emerged into consciousness intelligent beings shores of the cosmic ocean.
                        </h5>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <!--Section-->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-12">

                    <!--Single Image-->
                    <div class="single-image">

                        <img alt="Single Image" data-animation="slideLeft" data-duration="1.5" data-delay="0" data-color="#caaf9c" class="has-anim" src="/assets/img/projects/project-6/image_11.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-12">

                    <!--Single Image-->
                    <div class="single-image">

                        <img alt="Single Image" data-animation="slideLeft" data-duration="1.5" data-delay="0" data-color="#caaf9c" class="has-anim" src="/assets/img/projects/project-6/image_12.jpg">

                    </div>
                    <!--/Single Image-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper-small">

                <!--Column-->
                <div class="c-col-4"></div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-8">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h5 class="has-anim" data-stagger="0.01" data-duration="1" data-delay=".1" data-animation="wordsUp">
                            Encyclopaedia galactica cosmic fugue corpus callosum the ash of stellar alchemy tingling of the spine explorations. Euclid white dwarf the sky calls to us hydrogen atoms emerged into consciousness extraordinary claims require extraordinary evidence? Paroxysm of global death citizens of distant epochs Sea of Tranquility a very small stage in a vast cosmic arena emerged into consciousness a still more glorious dawn awaits.
                        </h5>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->



    </div>
    <!-- /Page Content -->

    <!-- Next Project Section-->
    <div class="next-project-section section no-margin">

        <!--Next Project URL --><a href="project-7.html">

            <!-- Next Project Image-->
            <div class="next-project-image">

                   <!--Next Project Video-->
                <div class="next-project-video" data-plyr-provider="vimeo" data-plyr-embed-id="586727575"></div>
                <!--/Next Project Video-->

            </div>
            <!--/ Next Project Image-->

            <!-- Next Project Meta Wrapper-->
            <div class="wrapper-small no-nargin">

                <div class="c-col-12">

                    <div class="next-project-wrap">

                        <!-- Next Project Text-->
                        <span>Next Project</span>
                        <!--/ Next Project Text-->

                        <!-- Next Project Title-->
                        <h1 class="next-project-title">Shiny Diamond</h1>
                        <!--/ Next Project Title-->

                    </div>

                </div>

            </div>
            <!--/ Next Project Meta Wrapper-->

        </a>

    </div>
    <!--/ Next Project Section-->
</div>
<!-- /Page -->