<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>TS </b>ERP</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Giriş yapmak için bilgilerinizi doldurun</p>

                <div class="input-group mb-3">
                    <input [(ngModel)]="model.emailOrUserName" type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="model.password" type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <button (click)="signIn()" class="btn btn-primary btn-block">Sign In</button>
            </div>
        </div>
    </div>
</body>