/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #111111;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/*===== LAYOUT =====*/
.grid {
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Show menu */
.show {
    left: 0;
}

/*===== HOME =====*/
.home {
    height: 100vh;
    display: grid;
    row-gap: 3.5rem;
    grid-template-rows: repeat(2, max-content);
    /* overflow: hidden; */
}

/*===== product =====*/
.product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    position: relative;
}

.product__figure {
    width: 240px;
    height: 240px;
    
    background-color: #089DA1;
    border-radius: 50%;
    transition: .5s;
}

.product__img {
    width: 203px;
    top: -2%;
    left: 0;
    right: 2%;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(0deg);
    opacity: 0;
    filter: drop-shadow(0px 10px 10px rgba(17, 17, 17, 0.4));
}

.product__img.shows {
    opacity: 1;
}

.product__colors {
    position: absolute;
    right: 2%;
}

.product__color {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: .5rem;
    cursor: pointer;
}

.product__color.active {
    border: 2px solid #FFF;
    box-shadow: 0 0 2px black;
}

.product__colors-one {
    background-color: #A29596;
}

.product__colors-two {
    background-color: #111111;
}


/*===== Data =====*/
.data {
    margin-bottom: 1.5rem;
}

.data__subtitle {
    font-size: .938rem;
    font-weight: 500;
}

.data__title {
    font-size: 2rem;
    margin-bottom: .2rem;
}

.data__description {
    font-size: 1rem;
    margin-bottom: .7rem;
}

.actions {
    display: flex;
    /* justify-content: space-between; */
}

/*===== Size =====*/
.size__title {
    font-size: .938rem;
    margin-bottom: 1rem;
}

.size__content {
    display: flex;
}

.size__tallas {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
    font-size: .75rem;
    text-align: center;
    line-height: 30px;
    border-radius: .25rem;
    cursor: pointer;
}

.size__tallas.active {
    background-color: #089DA1;
    color: #FFF;
}

/*===== Qty =====*/
.quantity__title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.quantity__content {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #089DA1;
    color: #FFF;
    padding: .5rem;
    border-radius: .25rem;
}

/*===== Buttons & Input =====*/
.button {
    background-color: #089DA1;
    color: #FFF;
    font-size: .75rem;
    border-radius: .5rem;
}

.quantity-container {
    display: flex;
    align-items: center;
    border-radius: .3rem;
    background-color: #089DA1;
}

.quantity-input {
    background-color: #089DA1;
    color: white;
    width: 40px;
    text-align: center;
    font-size: 1.1rem;
    margin: 0 8px;
    border: none;
}

.quantity-btn {
    background-color: #089DA1;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #A29596;
}

.quantity-btn:active {
    background-color: #A29596;
}

.quantity-icon {
    font-size: .75rem;
}

/*===== Price =====*/
.price {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #FFF;
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price__title {
    font-size: 1.5rem;
    color: #111111;
}

.price__button {
    background-color: #089DA1;
    color: #FFF;
    padding: 1.25rem 3.125rem;
    border-radius: .5rem;
    transition: box-shadow .4s;
}

.price__button:hover {
    background-color: #A29596;
}

/*===== BREAKPOINTS =====*/
/* For small devices */
@media screen and (max-width: 320px) {
    .home {
        row-gap: 1.5rem;
    }

    .product__figure {
        width: 160px;
        height: 160px;
    }

    .product img {
        width: 130px;
    }

    .product__colors {
        right: 1%;
    }

    .price__title {
        font-size: 1rem;
    }

    .price__button {
        padding: 1.25rem 2rem;
    }
}

/* For medium devices */
@media screen and (min-width: 480px) {
    .data__description {
        width: 350px;
    }
}

@media screen and (min-width: 768px) {
    .home {
        grid-template-columns: repeat(2, max-content);
        align-content: center;
        justify-content: center;
        column-gap: 6rem;
        row-gap: 0;
    }

    .product {
        margin-top: 0;
    }

    .product__colors {
        right: -10%;
    }

    .product__img {
        left: -6%;
    }

    /* carousel */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;

    }

    .actions {
        margin-bottom: 3rem;
    }

    .price {
        position: initial;
        background-color: initial;
        justify-content: space-between;
        box-shadow: none;
        padding: 0;
    }

    .price__title {
        color: #111111;
        font-weight: 500;
    }
}

/* For large devices */
@media screen and (min-width: 968px) {
    .product {
        margin: 0;
    }

    .product__figure {
        width: 490px;
        height: 490px;
    }

    .product__img {
        width: 430px;
        /* top: 5%; */
    }

    .product__colors {
        /* right: initial; */
        bottom: -3rem;
    }

    .product__colors span {
        display: inline-block;
    }

    /* carousel */
    .carousel-control-prev-icon {
        display: block;
        margin-right: 1rem;
    }

    .carousel-control-next-icon {
        display: block;
        margin-right: -5rem;
    }

    .info {
        align-self: center;
    }

    .data {
        margin-bottom: 2.5rem;
    }

    .data__subtitle {
        font-size: 1rem;
    }

    .data__title {
        margin-bottom: 1rem;
    }

    .size__tallas {
        width: 34px;
        height: 34px;
        line-height: 35px;
    }
}

@media screen and (min-width: 1200px) {
    .grid {
        margin-left: auto;
        margin-right: auto;
    }
}