@import "primeicons/primeicons.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

.mt-2{
    margin-top: 20px;
}

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.h100{
    height: 93vh;
}

.w100{
    width: 100%;
}
   
.ms-1{
    margin-left: 5px;
}

.gap-1{
    gap:5px;
}

.text-center{
    text-align: center;
}